.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

.window {
    z-index: 100;
    width: 300px;
    padding: 5px;
    position: absolute;
    bottom: 50px;
    left: 30px;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    overflow-y: scroll;
    max-height: 45%;
    padding-bottom: 15px;
 }

  .loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }

  .loadingIndicator {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  